<template>
  <div
    @keyup.ctrl.alt.90="revertChanges"
    @keyup.ctrl.alt.82="redoChanges"
  >
    <modal-delete
      v-if="showModalDelete"
      :id="note.id"
    />
    <modal-cancel-edit
      v-if="showCancelEditModal"
    />
    <form class="note">
      <h4>Edit Note <span v-if="note.title">"{{ note.title }}"</span></h4>
      <input
        type="text"
        placeholder="Enter note title"
        v-model="note.title"
      >
      <div class="createTodoWrapper">
        <input
          type="text"
          placeholder="Add todo"
          v-model="todoTitle"
        >
        <button
          @click.prevent="addTodo"
          class="addTodoBtn"
        >+</button>
      </div>
      <ul
        class="todosList"
        v-if="note.todos"
      >
        <h4>Todos:</h4>
        <li
          v-for="todo in note.todos"
          :key="todo.id"
        >
          <p>{{ todo.title }}</p>
          <input
            type="checkbox"
            v-model="todo.completed"
          >
        </li>
      </ul>
      <p v-else>No todos yet</p>
      <div class="buttonsWrapper">
        <button @click.prevent="saveChanges">Save</button>
        <button @click.prevent="revertChanges">Revert</button>
        <button @click.prevent="redoChanges">Redo</button>
        <button
          @click.prevent="showModalDelete = true"
          class="deleteBtn"
        >Delete</button>
        <button @click.prevent="showCancelEditModal = !showCancelEditModal">Cancel</button>
      </div>
    </form>
  </div>
</template>

<script>
import {eventEmitter} from "../main";
import ModalCancelEdit from "~/components/ModalCancelEdit";
import ModalDelete from "~/components/ModalDelete";

export default {
  props: ['notes'],
  data: () => ({
    showModalDelete: false,
    showCancelEditModal: false,
    todoTitle: '',
    completed: false,
    note: {},
    noteBackup: {},
    changedNote: {}
  }),
  computed: {

  },
  methods: {
    parseNote() {
      let note = (this.notes.filter(el =>
        el.id === this.$route.params.id
      ))[0]
        
      this.note = this.cloneNote(note)

      this.noteBackup = this.cloneNote(this.note)
    },
    cloneNote(src) {
      return JSON.parse(JSON.stringify(src))
    },
    addTodo() {
      this.note.todos.push({
        title: this.todoTitle,
        id: this.$genId(),
        completed: false
      })
    },
    saveChanges() {
      eventEmitter.$emit('updateNote', this.note)
      this.$router.push('/')
    },
    revertChanges() {
      // ctrl+clt+z hotkey is also available
      this.changedNote = this.cloneNote(this.note)
      this.note = this.cloneNote(this.noteBackup)
      this.todoTitle = ''
    },
    redoChanges() {
      // ctrl+clt+r hotkey is also available
      this.note = this.cloneNote(this.changedNote)
      this.todoTitle = ''
    },
  },
  created() {
    eventEmitter.$on('closeCancelEditModal', () => {
      this.showCancelEditModal = false  
    })
    eventEmitter.$on('closeDeleteModal', () => {
      this.showModalDelete = false
    })
    this.parseNote()
  },
  components: {
    ModalCancelEdit,
    ModalDelete
  }
}
</script>