<template>
  <div
    @keyup.ctrl.alt.90="revertChanges"
    @keyup.ctrl.alt.82="redoChanges"
  >
    <modal-delete
      v-if="showModalDelete"
      :id="note.id"
    />
    <modal-cancel-edit
      v-if="showCancelEditModal"
    />
    <form class="note">
      <h4>Edit Note <span v-if="note.title">"{{ note.title }}"</span></h4>
      <input
        type="text"
        placeholder="Enter note title"
        v-model.lazy="note.title"
      >
      <div class="createTodoWrapper">
        <input
          type="text"
          placeholder="Add todo"
          v-model="todoTitle"
        >
        <button
          @click.prevent="addTodo"
          class="addTodoBtn"
        >+</button>
      </div>
      <ul
        class="todosList"
        v-if="note.todos"
      >
        <h4>Todos:</h4>
        <li
          v-for="todo in note.todos"
          :key="todo.id"
        >
          <p>{{ todo.title }}</p>
          <input
            type="checkbox"
            v-model="todo.completed"
          >
        </li>
      </ul>
      <p v-else>No todos yet</p>
      <div class="buttonsWrapper">
        <button @click.prevent="saveChanges">Save</button>
        <button @click.prevent="revertChanges">Revert</button>
        <button @click.prevent="redoChanges">Redo</button>
        <button
          @click.prevent="showModalDelete = true"
          class="deleteBtn"
        >Delete</button>
        <button @click.prevent="showCancelEditModal = !showCancelEditModal">Cancel</button>
      </div>
    </form>
  </div>
</template>

<script>
import {eventEmitter} from "../main";
import ModalCancelEdit from "../components/ModalCancelEdit";
import ModalDelete from "../components/ModalDelete";

export default {
  props: ['notes'],
  components: {
		ModalCancelEdit,
		ModalDelete
	},
  data: () => ({
    showModalDelete: false,
    showCancelEditModal: false,
    todoTitle: '',
    completed: false,
    note: {},
    noteHistory: [],
    counter: 1,
    reverting: false
  }),
	created() {
		// emitting event to parent to close edit modal
		eventEmitter.$on('closeCancelEditModal', () => {
			this.showCancelEditModal = false
		})
		// emitting event to parent to close delete modal
		eventEmitter.$on('closeDeleteModal', () => {
			this.showModalDelete = false
		})
		this.parseNote()
	},
  methods: {
    // getting the note
    parseNote() {
      let note = (this.notes.filter(el =>
        el.id === this.$route.params.id
      ))[0]
        
      // making a copy to avoid prop mutation
      this.note = this.cloneNote(note)
    },
    // object clone constructor (to avoid mutation of current one)
    cloneNote(src) {
      return JSON.parse(JSON.stringify(src))
    },
    addTodo() {
      this.note.todos.push({
        title: this.todoTitle,
        id: this.$genId(),
        completed: false
      })
    },
    saveChanges() {
      eventEmitter.$emit('updateNote', this.note)
      this.$router.push('/')
    },
    revertChanges() {
      // ctrl+alt+z hotkey is also available

      if (this.counter > this.noteHistory.length) return
      this.reverting = true
      this.counter ++
      this.note = this.cloneNote(this.noteHistory[this.noteHistory.length - this.counter])
      let self = this
      // 'reverting' variable tells watcher to not handle to avoid unnecessary changes
      setTimeout(function() {
        self.reverting = false
      }, 0)

    },
    redoChanges() {
      // ctrl+alt+r hotkey is also available
      if (this.counter < 1) return
      this.reverting = true
      this.counter --
      this.note = this.cloneNote(this.noteHistory[this.noteHistory.length - this.counter])
      let self = this
      // 'reverting' variable tells watcher to not handle to avoid unnecessary changes
      setTimeout(function() {
        self.reverting = false
      }, 0)
    }
  },
	watch: {
		note: {
			handler: function(val) {
				// checking the flag to stop watching (to avoid unnecessary changes)
				if (this.reverting)  return

				// if 'note' object changes we push nev value in array
				if(val) {
					let item = this.cloneNote(val)
					this.noteHistory.push(item)
				}
			},
			deep: true
		}
	}
}
</script>