<template>
  <div>

    <modal-delete
      :id="noteToDelete"
      v-if="showDeleteModal"
    />
    <modal-warning
      v-if="showModalWarning"
    />

    <create-note :notes="notes" />

    <notes-list :notes="notes" />

  </div>
</template>

<script>
import { eventEmitter} from "../main"
import NotesList from "../components/NotesList";
import ModalDelete from '../components/ModalDelete'
import CreateNote from "../components/CreateNote";
import ModalWarning from "../components/ModalWarning";

export default {
  name: 'Home',
  props: ['notes'],
  data: () => ({
    showDeleteModal: false,
    showModalWarning: false,
    noteToDelete: ''
  }),
  components: {
    CreateNote,
    ModalDelete,
    NotesList,
    ModalWarning,
  },
  created() {
    eventEmitter.$on('closeDeleteModal', () => {
      this.showDeleteModal = false
    })
    eventEmitter.$on('modalWarningShow', data => {
      this.showModalWarning = data
    })
    eventEmitter.$on('openDeleteModal', id => {
      this.showDeleteModal = true
      this.noteToDelete = id
    })
  }
}
</script>