<template>
  <form
    class="createNoteForm"
    @submit.prevent="createNoteHandler"
  >
    <h4>Create Note</h4>
    <input
      type="text"
      placeholder="Enter note title"
      v-model="noteTitle"
    >
    <div class="createTodoWrapper">
      <input
        type="text"
        placeholder="Add todo"
        v-model="todoTitle"
      >
      <button
        class="addTodoBtn"
        @click.prevent="addTodo"
      >+</button>
    </div>
    <ul
      class="todosList"
      v-if="todos.length"
    >
      <h4>Todos:</h4>
      <li
        v-for="todo in todos"
        :key="todo.id"
      >
        <p>{{ todo.title }}</p>
        <input
          type="checkbox"
          v-model="todo.completed"
        >
      </li>
    </ul>
    <p v-else>No todos yet</p>
    <button>Add Note</button>
  </form>
</template>

<script>
import {eventEmitter} from "../main";

export default {
  title: 'CreateNote',
  props: ['notes'],
  data: () => ({
    noteTitle: '',
    todoTitle: '',
    todos: []
  }),
  methods: {
    addTodo() {
      if(this.todoTitle.length < 1) return eventEmitter.$emit('modalWarningShow', true)
      this.todos.push({ title: this.todoTitle, completed: false, id: this.$genId() })
      this.todoTitle = ''
    },
    createNoteHandler() {
      let note = {
        id: this.$genId(),
        title: this.noteTitle,
        todos: [...this.todos]
      }
      eventEmitter.$emit('addNote', note)
      this.todos = []
      this.noteTitle = ''
      this.todoTitle = ''
    }
  }
}
</script>