<template>
  <div class="modalWrapper" @click="closeModal">
    <div class="modal">
      <h2>WARNING</h2>
      <p>Your note can't be empty</p>
      <button @click="closeModal">Cancel</button>
    </div>
  </div>
</template>

<script>
	import { eventEmitter} from "../main";

	export default {
    name: 'ModalWarning',
		methods: {
			closeModal() {
				eventEmitter.$emit('modalWarningShow', false )
			},
		}
	}
</script>