<template>
  <div class="modalWrapper">
    <div class="modal">
      <h2>Cancel Editing</h2>
      <p>You're about to cancel editing the note. This procedure is irreversible.</p>
      <p>Do you want to proceed?</p>
      <button @click="cancelEditing">Confirm</button>
      <button @click="closeModal">Cancel</button>
    </div>
  </div>
</template>

<script>
import { eventEmitter} from "../main";

export default {
  title: 'ModalCancelEdit',
  props: ['show'],
  methods: {
    closeModal() {
      eventEmitter.$emit('closeCancelEditModal', )
    },
    cancelEditing() {
      this.$router.push('/')
    }
  }
}
</script>