<template>
  <div class="modalWrapper">
    <div class="modal">
      <h2>Confirm Delete</h2>
      <p>You're about to delete the note. This procedure is irreversible.</p>
      <p>Do you want to proceed?</p>
      <button @click="closeModal">Cancel</button>
      <button
        @click="deleteNote"
        class="deleteBtn"
      >Delete</button>
    </div>
  </div>
</template>

<script>
import { eventEmitter} from "../main";

export default {
  props: ['id', 'title'],
  methods: {
    closeModal() {
      eventEmitter.$emit('closeDeleteModal', )
    },
    deleteNote() {
      eventEmitter.$emit('deleteNote', this.id)
      eventEmitter.$emit('closeDeleteModal')
      if(this.$route.path !== '/') return this.$router.push('/')
    }
  }
}
</script>