<template>
  <div
    v-if="notes.length"
    class="notesWrapper"
  >
    <h4>Notes:</h4>
    <div
      v-for="note in notes"
      :key="note.id"
      class="note"
    >
      <h4>{{ note.title }}</h4>
      <ul>
        <li
          v-for="todo in note.todos.slice(0, 3)"
          :key="todo.id"
        >
          <p>{{ todo.title }}</p>
          <input
            type="checkbox"
            disabled
            v-model="todo.completed"
          >
        </li>
      </ul>
      <div class="buttonsWrapper">
        <router-link :to="`/edit/${note.id}`">
          <button>Edit</button>
        </router-link>
        <button
          class="deleteBtn"
          @click.prevent="openDeleteModal(note.id)"
        >Delete</button>
      </div>
    </div>
  </div>
  <p v-else>No notes yet! Create the first one.</p>
</template>

<script>
import { eventEmitter} from "../main"

export default {
  title: 'NotesList',
  props:['notes'],
  methods: {
    openDeleteModal(id) {
      eventEmitter.$emit('openDeleteModal', id)
    }
  }
}
</script>