.modalWrapper {
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    padding: 40px;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.deleteBtn {
    transition: 0.5s;
}

.deleteBtn:hover {
    background-color: darkred;
}

.buttonsWrapper {
    display: flex;
    margin-top: 10px;
}

.note {
    padding: 15px;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    background-color: moccasin;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 11px 0px rgba(0,0,0,0.63);
}

.wrapper {
    padding-top: 50px;
    min-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input {
    border: 1px solid gray;
    padding-left: 10px;
    height: 25px;
    display: flex;
    flex-grow: 1;
    margin: 5px;
}
input:focus {
    outline: none;
}
.addTodoBtn {
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: white;
    margin: 5px;
    font-size: 18px;
    background-color: dimgrey;
}
.createTodoWrapper {
    display: flex;
    align-items: center;
}
.createNoteForm {
    background-color: moccasin;
    border: 1px solid lightgray;
    padding: 15px;
    width: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 5px 11px 0px rgba(0,0,0,0.63);
    margin-bottom: 20px;
}
ul {
    word-wrap: break-word;
    padding: 0;
    margin: 5px;
}
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    padding-left: 10px;
    font-size: 14px;
    list-style: none;
    background-color: white;
}
li:not(:last-child) {
    border-bottom: 0;
}
li:last-child {
    margin-bottom: 0
}
li p {
    width: 100%;
    text-align: left;
    margin: 0;
}
li input {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 5px;
}
button {
    cursor: pointer;
    background-color: dimgrey;
    font-weight: bold;
    width: 100px;
    padding: 10px;
    margin: 5px;
    color: white;
    border: none;
    transition: 0.5s;
}
button:hover {
    background-color: peru;
}
button:focus {
    outline: none;
}