<template>
  <div id="app">
    <div class="wrapper">
      <router-view :notes="notes" />
    </div>
  </div>
</template>

<script>
import { eventEmitter } from "./main";

export default {
  data: () => ({
    notes: [],
  }),
  methods: {
    updateLocalStorage() {
      localStorage.setItem("notes", JSON.stringify(this.notes))
    }
  },
  mounted() {
    if (localStorage.notes) {
      this.notes = JSON.parse(localStorage.getItem("notes"))
    }
  },
  created() {
    eventEmitter.$on('addNote', note => {
      this.notes.push(note)
      this.updateLocalStorage()
    })
    eventEmitter.$on('deleteNote', id => {
      this.notes = this.notes.filter(note => note.id !== id)
      this.updateLocalStorage()
    })
    eventEmitter.$on('updateNote', note => {
      let index = this.notes.findIndex(el => el.id === note.id)
      this.notes[index] = note
      this.updateLocalStorage()
    })
  }
}
</script>

<style lang="scss">
  @import "assets/custom.scss";

  #app {
    position: relative;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
